*{
    box-sizing: border-box;
    font-family: PingFang SC, PingFang SC;
}
body{
    margin:0
}
.flex {
    display: flex;
    align-items: center;
}   
.column {
    display: flex;
    flex-direction: column;
}
.ellipsis {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}
input {
    outline: none;
    border: none;
}
textarea {
    border: none;
    outline: none;
    resize: none;
}

table {
    width: 100%;
    border-spacing: 0 20px;
}
th {
    text-align: left;
    margin-bottom: 10px;
    font-size: 14px;
    color: #4d4d4e;
    }
td {
    font-size: 14px;
    color: #949495;
}




.functional_area_head {
    padding: 0 24px;
    width: 100%;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 12px;
  
}

.functional_area_head .title {
    font-weight: 500;
    font-size: 16px;
    color: #f3f3f3;
}

.functional_area_head .input_con {
    position: relative;
    margin-left: auto;
    margin-right: 16px;
}

.functional_area_head .search_input {
    width: 216px;
    height: 32px;
    background: #1e1e1f;
    border-radius: 4px;
    border: 1px solid #2a2a2b;
    padding: 0 26px 0 36px;
    font-size: 12px;
    color: #ffffff;

}
.functional_area_head .search_input:focus {
    border: 1px solid #dbdbdc;
}

.functional_area_head .search_icon {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 13px;
    top: 9px;
}

.functional_area_head .clear_icon {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    right: 9px;
    cursor: pointer;
}

.functional_area_head .generic_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    height: 32px;
    background: linear-gradient( 180deg, #61BE74 0%, #8ED401 100%);
    border-radius: 4px;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}
.functional_area_head .btn_icon{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}



.tab_card_con {
    padding: 0 24px;
    height: 56px;
    border-bottom: 1px solid #1e1e1f;
    
}

.tab_card_con .tab_item {
    height: 56px;
    text-align: center;
    line-height: 56px;
    font-size: 14px;
    color: #dbdbdc;
    margin-right: 32px;
    cursor: pointer;
}
.tab_card_con .active_tab_item {
    font-weight: 500;
    color: #61be74;
    border-bottom: 2px solid #61be74;
}


